{%include 'myblog/header.html'%}
<style>
  .like-active{
    color: #337ab7;
  }

</style>
<!--=========== START BLOG SECTION ================-->
    <section id="blogArchive">
      <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12">-->
          <!--<div class="blog-breadcrumbs-area">-->
            <!--<div class="container">-->
              <!--<div class="blog-breadcrumbs-left">-->
                <!--<h2>Blog</h2>-->
              <!--</div>-->
              <!--<div class="blog-breadcrumbs-right">-->
                <!--<ol class="breadcrumb">-->
                  <!--<li>You are here</li>-->
                  <!--<li><a href="#">Home</a></li>-->
                  <!--<li class="active">Blog Single</li>-->
                <!--</ol>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Start Blog Archive Area -->
                <div class="blogArchive-area">
                  <div class="row">
                    <!-- Start Blog Content -->
                    <div class="col-md-9 col-sm-8">
                      <div class="blog-content">
                        <!-- Start Single Blog -->
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>{{post.pub_date|date:'N'}}<h2>{{post.pub_date|date:'j'}}</h2>{{post.pub_date|date:'Y'}}</li>
                              <li><span class="fa fa-eye"></span>{{post.num_views}}</li>
                              <li><a href="#"><span class="fa fa-comments"></span>{{post.comment_set.all.count}}</a></li>
                              {%if user in post.marked.all%}
                                <li><span class="glyphicon glyphicon-bookmark unmark-post"></span></li>
                              {%else%}
                                <li><span class="glyphicon glyphicon-bookmark mark-post" style="color:gray"></span></li>
                              {%endif%}
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="/blog{{post.image.url}}"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                              <ul>
                                <li>By <a href="#">{{post.user.username}}</a></li>
                                <!--<li><span class="fa fa-tags"></span><a href="#">Dental</a> <a href="#">Surgery</a> <a href="#">Cardiac</a></li>-->
                                <li><span class="fa fa-tags"></span>
                                  {%for tag in post.tag_set.all%}
                                    <a href="{%url 'similar_posts' tag.id%}">{{tag.name}} .</a>
                                  {%endfor%}
                                </li>
                              </ul>
                            </div>
                            <div class="blog-content blog-details">
                              <h2>{{post.title}}</h2>
                              <p>{{post.content|linebreaks}}</p>
                              <!--<blockquote>-->
                                <!--Duis erat purus, tincidunt vel ullamcorper ut, consequat tempus nibh. Proin condimentum risus ligula, dignissim mollis tortor hendrerit vel.-->
                              <!--</blockquote>-->
                              <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly <a href="#">believable</a>.</p>-->
                              <!--<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>-->
                              <!--<a href="#">Link Text</a>-->
                              <!--<h3>Tabel</h3>-->
                              <!--<table class="table table-hover">-->
                                <!--<thead>-->
                                  <!--<tr>-->
                                    <!--<th>Sl</th>-->
                                    <!--<th>First Name</th>-->
                                    <!--<th>Last Name</th>-->
                                    <!--<th>Username</th>-->
                                  <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                  <!--<tr>-->
                                    <!--<th scope="row">1</th>-->
                                    <!--<td>Smith</td>-->
                                    <!--<td>Jacob</td>-->
                                    <!--<td>Dan</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                    <!--<th scope="row">2</th>-->
                                    <!--<td>Smith</td>-->
                                    <!--<td>Jacob</td>-->
                                    <!--<td>Dan</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                    <!--<th scope="row">3</th>-->
                                    <!--<td>Smith</td>-->
                                    <!--<td>Jacob</td>-->
                                    <!--<td>Dan</td>-->
                                  <!--</tr>-->
                                <!--</tbody>-->
                              <!--</table>-->
                              <!--<h3>Order list</h3>-->
                              <!--<ol>-->
                                <!--<li>Lorem ipsum dolor sit amet</li>-->
                                <!--<li>Consectetur adipiscing elit</li>-->
                                <!--<li>Integer molestie lorem at massa</li>-->
                                <!--<li>Facilisis in pretium nisl aliquet</li>-->
                                <!--<li>Nulla volutpat aliquam velit</li>-->
                                <!--<li>Faucibus porta lacus fringilla vel</li>-->
                                <!--<li>Aenean sit amet erat nunc</li>-->
                                <!--<li>Eget porttitor lorem</li>-->
                              <!--</ol>-->
                              <!--<h3>Check Box Example</h3>-->
                              <!--<div class="checkbox">-->
                                <!--<label>-->
                                  <!--<input type="checkbox" value="">-->
                                  <!--Option one is this and that&mdash;be sure to include why it's great-->
                                <!--</label>-->
                              <!--</div>-->
                              <!--<div class="checkbox disabled">-->
                                <!--<label>-->
                                  <!--<input type="checkbox" value="" disabled>-->
                                  <!--Option two is disabled-->
                                <!--</label>-->
                              <!--</div>-->
                              <!--<h3>Radio Option</h3>-->
                              <!--<div class="radio">-->
                                <!--<label>-->
                                  <!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
                                  <!--Option one is this and that&mdash;be sure to include why it's great-->
                                <!--</label>-->
                              <!--</div>-->
                              <!--<div class="radio">-->
                                <!--<label>-->
                                  <!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
                                  <!--Option two can be something else and selecting it will deselect option one-->
                                <!--</label>-->
                              <!--</div>-->
                              <!--<div class="radio disabled">-->
                                <!--<label>-->
                                  <!--<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>-->
                                  <!--Option three is disabled-->
                                <!--</label>-->
                              <!--</div>-->
                              <!--<h3>This is example of H3</h3>-->
                              <!--<h4>This is example of H4</h4>-->
                              <!--<h5>This is example of H5</h5>-->
                              <!--<h6>This is example of H6</h6>-->
                              <!--<ul>-->
                               <!--<li><i class="fa fa-check"></i>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</li>-->
                               <!--<li><i class="fa fa-check"></i>Lorem Ipsum generators</li>-->
                               <!--<li><i class="fa fa-check"></i>There are many variations of passages</li>-->
                               <!--<li><i class="fa fa-check"></i>The uses a dictionary of over 200 Latin words</li>-->
                               <!--<li><i class="fa fa-check"></i>Proin condimentum risus ligula</li>-->
                              <!--</ul>-->
                              <!--&lt;!&ndash; Start Social Share&ndash;&gt;-->
                              <!--<div class="social-share">-->
                               <!--<h3>Share is Awesome</h3>-->
                               <!--<ul>-->
                                 <!--<li><a href="#"><span class="fa fa-facebook"></span></a></li>-->
                                 <!--<li><a href="#"><span class="fa fa-twitter"></span></a></li>-->
                                 <!--<li><a href="#"><span class="fa fa-pinterest"></span></a></li>-->
                                 <!--<li><a href="#"><span class="fa fa-google-plus"></span></a></li>-->
                                 <!--<li><a href="#"><span class="fa fa-linkedin"></span></a></li>-->
                               <!--</ul>-->
                             <!--</div>-->
                             <!--&lt;!&ndash; Start Post Navigation &ndash;&gt;-->
                             <!--<div class="post-navigation">-->
                               <!--<div class="postnav-left">-->
                                 <!--<a class="prev-icon" href="#"><span class="fa fa-angle-left"></span></a>-->
                                 <!--<h4 class="navg-title">Previous Title Text</h4>-->
                               <!--</div>-->
                               <!--<div class="postnav-right">-->
                                 <!--<a class="next-icon" href="#"><span class="fa fa-angle-right"></span>-->
                                 <!--</a>-->
                                 <!--<h4 class="navg-title">Next Title Text</h4>-->
                               <!--</div>-->
                             <!--</div>-->
                              <!--&lt;!&ndash; Start Post Author &ndash;&gt;-->
                              <!--<div class="post-author">-->
                                <!--<h3>About Author</h3>-->
                                <!--<div class="media">-->
                                  <!--<div class="media-left">-->
                                    <!--<a class="news-img" href="#">-->
                                      <!--<img class="media-object" src="images/doctor-2.jpg" alt="img">-->
                                    <!--</a>-->
                                  <!--</div>-->
                                  <!--<div class="media-body">-->
                                     <!--<a class="author-name" href="#">Dr. Jack Johnson</a>-->
                                     <!--<p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>-->
                                     <!--<a href="#" class="author-morepost">View more post</a>-->
                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->
                              <!-- Start Similar News -->
                              <br><br><br>
                              <div class="similar-post">
                                <h2>Similar News  </h2>
                                 <div class="row">
                                   {%for post in similars%}
                                    <div class="col-md-6 col-sm-6">
                                      <div class="media">
                                          <div class="media-left">
                                            <a class="news-img" href="#">
                                              <img class="media-object" src="/blog{{post.image.url}}" alt="img">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                           <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                           <span class="feed-date">{{post.pub_date|date:'d.m.Y'}}</span>
                                          </div>
                                      </div>
                                    </div>
                                   {%endfor%}
                                  </div>
                                </div>
                              </div>
                            <br>
                              <!-- Start Comments  -->
                              <div class="comments-area">
                                <h3 class="comments-title">Comments</h3>
                                {%if user.is_authenticated%}
                                <form class="comment-form">
                                  {%csrf_token%}
                                  {{ comment_form}}
                                  <input type="hidden" name="parent" value="c">
                                  <input type="submit" value="Comment" class="reply-btn" />
                                </form>
                                {%endif%}
                                <div class="comments">
                                  <ul class="commentlist">
                                    {%for comment in comments%}
                                      {%if not comment.parent.id%}
                                      <li>
                                        <div class="media">
                                          {%if comment.user.id == user.id%}
                                          <span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete comment" aria-hidden="true" style="color:red;" id="{{comment.id}}"></span>
                                          {%endif%}
                                          <div class="media-left">
                                              <img alt="img" src="images/doctor-2.jpg" class="media-object news-img">
                                          </div>

                                          <div class="media-body">
                                           <h4 class="author-name">{{comment.user.username}}</h4>

                                           <span class="comments-date"> {{comment.modification_date|timesince}} ago</span>
                                           <p>{{comment.content}}</p>
                                            {% if user in comment.likes.all%}
                                              {%if user.is_authenticated%}
                                              <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 unlike like-active" aria-hidden="true" id="{{comment.id}}">{{comment.likes.count}}</span>
                                              {%else%}
                                              <div class="col-lg-offset-10">{{comment.likes.count}} Like{{ comment.likes.count|pluralize }}</div>
                                              {%endif%}
                                            {%else%}
                                            {%if user.is_authenticated%}
                                            <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="{{comment.id}}">{{comment.likes.count}}</span>
                                            {%else%}
                                              <div class="col-lg-offset-10">{{comment.likes.count}} Like{{ comment.likes.count|pluralize }}</div>
                                              {%endif%}
                                            {%endif%}
                                          </div>
                                        </div>
                                      </li>
                                      <ul class="children">
                                      {%for reply in comments%}
                                        {%if reply.parent.id == comment.id%}
                                        <div class="replies-container">
                                          <li>
                                            <div class="media">
                                              {%if user.id == reply.user.id%}
                                              <span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete reply" aria-hidden="true" style="color:red;" id="{{reply.id}}"></span>
                                              {%endif%}
                                              <div class="media-left">
                                                  <img alt="img" src="images/doctor-2.jpg" class="media-object news-img">
                                              </div>
                                              <div class="media-body">
                                               <h4 class="author-name">{{reply.user.username}}</h4>
                                               <span class="comments-date">{{reply.modification_date|timesince}} ago</span>
                                               <p>{{reply.content}}</p>
                                                {% if user in reply.likes.all%}
                                                {%if user.is_authenticated%}
                                                  <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 unlike like-active" aria-hidden="true" id="{{reply.id}}">{{reply.likes.count}}</span>
                                                {%else%}
                                              <div class="col-lg-offset-10">{{reply.likes.count}} Like{{ reply.likes.count|pluralize }}</div>
                                              {%endif%}
                                                {%else%}
                                                {%if user.is_authenticated%}
                                                <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="{{reply.id}}">{{reply.likes.count}}</span>
                                                {%else%}
                                              <div class="col-lg-offset-10">{{reply.likes.count}} Like{{ reply.likes.count|pluralize }}</div>
                                              {%endif%}
                                                {%endif%}

                                              </div>
                                            </div>
                                          </li>
                                        </div>
                                        {%endif%}
                                      {%endfor%}
                                        {%if user.is_authenticated%}
                                          <li>
                                        <form class="comment-form">
                                          {%csrf_token%}
                                          {{comment_form}}
                                          <input id="parent" type="hidden" name="parent" value="{{comment.id}}">
                                          <input type="submit" value="Reply" class="reply-btn"/>
                                        </form>
                                      </li>
                                        {%endif%}
                                        </ul>

                                      {%endif%}
                                    {%endfor%}
                                  </ul>
                                </div>
                              </div>
                               <!--start Comments navigation -->
                              <!--<nav>-->
                                <!--<ul class="comments-pagination">-->
                                  <!--<li>-->
                                    <!--<a aria-label="Previous" href="#">-->
                                      <!--<span class="fa fa-angle-left"></span>-->
                                    <!--</a>-->
                                  <!--</li>-->
                                  <!--<li><a href="#">1</a></li>-->
                                  <!--<li><a href="#">2</a></li>-->
                                  <!--<li><a href="#">3</a></li>-->
                                  <!--<li><a href="#">4</a></li>-->
                                  <!--<li><a href="#">5</a></li>-->
                                  <!--<li>-->
                                    <!--<a aria-label="Next" href="#">-->
                                      <!--<span class="fa fa-angle-right"></span>-->
                                    <!--</a>-->
                                  <!--</li>-->
                                <!--</ul>-->
                              <!--</nav>-->
                              <!--&lt;!&ndash; Comments Responds &ndash;&gt;-->
                              <!--<div id="respond">-->
                                <!--<h3 class="reply-title">Leave a Reply</h3>-->
                                <!--<form id="commentform">-->
                                  <!--<p class="comment-notes">-->
                                    <!--Your email address will not be published. Required fields are marked <span class="required">*</span>-->
                                  <!--</p>-->
                                  <!--<p class="comment-form-author">-->
                                    <!--<label>Name <span class="required">*</span></label>-->
                                    <!--<input type="text" required="required" size="30" value="" name="author">-->
                                  <!--</p>-->
                                  <!--<p class="comment-form-email">-->
                                    <!--<label>Email <span class="required">*</span></label>-->
                                    <!--<input type="email" required="required" aria-required="true" value="" name="email">-->
                                  <!--</p>-->
                                  <!--<p class="comment-form-url">-->
                                    <!--<label>Website</label>-->
                                    <!--<input type="url" value="" name="url">-->
                                  <!--</p>-->
                                  <!--<p class="comment-form-comment">-->
                                    <!--<label>Comment</label>-->
                                    <!--<textarea required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>-->
                                  <!--</p>-->
                                  <!--<p class="form-allowed-tags">-->
                                    <!--You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt; </code>-->
                                  <!--</p>-->
                                  <!--<p class="form-submit">-->
                                    <!--<input type="submit" value="Post Comment" class="submit" name="submit">-->
                                  <!--</p>-->
                                <!--</form>-->
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- Start Right Side bar -->
                    <div class="col-md-3 col-sm-4">
                      <aside class="sidebar">
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Latest Posts</h3>
                          <ul class="popular-tab">
                            {%for post in latest_posts%}
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="{%url 'single_post' post.id%}" class="news-img">
                                    <img alt="img" src="/blog{{post.image.url}}" class="media-object">
                                  </a>
                                </div>
                                <div class="media-body">
                                 <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                 <span class="feed-date">{{post.pub_date|date:'d.m.Y'}}</span>
                                </div>
                              </div>
                            </li>
                            {%endfor%}
                          </ul>
                        </div>
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Most Viewed</h3>
                          <ul class="popular-tab">
                            {%for post in most_viewed_posts%}
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="{%url 'single_post' post.id%}" class="news-img">
                                    <img alt="img" src="/blog{{post.image.url}}" class="media-object">
                                  </a>
                                </div>
                                <div class="media-body">
                                 <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                 <span class="feed-date">{{post.pub_date|date:'m.d.Y'}}</span>
                                </div>
                              </div>
                            </li>
                            {%endfor%}
                          </ul>
                        </div>
                        <!--&lt;!&ndash; Start sidebar widget &ndash;&gt;-->
                        <!--<div class="sidebar-widget">-->
                          <!--<h3>Tags</h3>-->
                          <!--<ul class="tag-nav">-->
                            <!--<li><a href="#">Dental</a></li>-->
                            <!--<li><a href="#">Surgery</a></li>-->
                            <!--<li><a href="#">Pediatric</a></li>-->
                            <!--<li><a href="#">Cardiac</a></li>-->
                            <!--<li><a href="#">Ophthalmology</a></li>-->
                            <!--<li><a href="#">Diabetes</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Start sidebar widget &ndash;&gt;-->
                        <!--<div class="sidebar-widget">-->
                          <!--<h3>Text Widget</h3>-->
                          <!--<p>This is text widget of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly <a href="#">believable</a></p>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Start sidebar widget &ndash;&gt;-->
                        <!--<div class="sidebar-widget">-->
                          <!--<h3>Archives</h3>-->
                          <!--<ul class="archives">-->
                            <!--<li><a title="May 2015" href="#">May 2015<span>2</span></a></li>-->
                            <!--<li><a title="April 2015" href="#">April 2015<span>5</span></a></li>-->
                            <!--<li><a title="March 2015" href="#">March 2015<span>10</span></a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Start sidebar widget &ndash;&gt;-->
                        <!--<div class="sidebar-widget">-->
                          <!--<h3>Categories</h3>-->
                          <!--<ul>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Dental</a></li>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Surgery</a></li>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Pediatric</a></li>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Cardiac</a></li>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Ophthalmology</a></li>-->
                            <!--<li><a href="#"><span class="fa fa-angle-right"></span>Diabetes</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->
<br><br>
{%csrf_token%}
{%include 'myblog/footer.html'%}
<script type="text/javascript">
  $(document).on('submit','.comment-form',function(event){
    event.preventDefault();
    form=$(this);
    content=$(this).children('#id_content').val();
    post=$(this).children('#id_post').val();
    parent=$(this).children('input[name=parent]').val();
    csrfmiddlewaretoken= $(this).children('input[name=csrfmiddlewaretoken]').val()
    user= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/add",
      data:{
      content: content,
      post: post,
      parent: parent,
      user: user ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        console.log($.parseJSON(data));
        obj=$.parseJSON(data);
        console.log($.parseJSON(data)['csrf']);
        comment=$.parseJSON(data)[0].fields;

        str = '<li><div class="media">'
        if(parent == 'c')
          str += '<span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete comment" id="'+$.parseJSON(data)[0].pk+'" aria-hidden="true" style="color:red;"></span>'
        else
          str += '<span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete reply" id="'+$.parseJSON(data)[0].pk+'" aria-hidden="true" style="color:red;"></span>'
        str+='<div class="media-left">'
        str += '<img alt="img" src="images/doctor-2.jpg" class="media-object news-img"></div><div class="media-body"><h4 class="author-name">'
        str += '{{user.username}}'
        str += '</h4><span class="comments-date">'
         str += '{%now "N m, Y, i:s a"%}'
        str += '</span><p>'
        str += comment.content
        str += '</p><span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="'+$.parseJSON(data)[0].pk+'">0</span></div></div></li>'
        if(parent != 'c')
          {$(str).insertBefore(form);}
        else
        {
          str += '<ul class="children"><div class="replies-container"></div>';
          str += '<li><form class="comment-form">'

          str += '<textarea class="col-lg-12" cols="40" id="id_content" maxlength="200" name="content" placeholder="write comment ..." rows="5"></textarea>'
          str += '<input type="hidden" name="csrfmiddlewaretoken" value="'+csrfmiddlewaretoken+'">'
          str += '<input id="id_post" name="post" type="hidden" value="'+comment.post+'">'
          str += '<input id="parent" type="hidden" name="parent" value="';
          str += $.parseJSON(data)[0].pk
          str += '"><input type="submit" value="Reply" class="reply-btn"/></form></li></ul>';

          $('.commentlist').append(str);
        }
        form.children('#id_content').val('')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });

  $(document).on('click','.comment-delete',function(event){
    event.preventDefault();
    element=$(this);
    id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/delete",
      data:{
      id: id,
      user: user ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        comment=element.parent().parent()
        if(element.hasClass('comment'))
          comment.next().remove()

        comment.remove()
      },
      error: function()
      {
        console.log('error');
      }
    });
  });

   $(document).on('click','.like',function(event){
    event.preventDefault();
    element=$(this);
    comment_id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user_id= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/like",
      data:{
      comment_id: comment_id,
      user_id: user_id ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.removeClass('like')
        element.addClass('unlike')
        element.text(parseInt('  '+ element.text())+1)
        element.addClass('like-active')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });
  $(document).on('click','.unlike',function(event){
    event.preventDefault();
    element=$(this);
    comment_id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user_id= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/unlike",
      data:{
      comment_id: comment_id,
      user_id: user_id ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.removeClass('unlike')
        element.addClass('like')
        element.text(parseInt('  '+element.text())-1)
        element.removeClass('like-active')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });
  $(document).on('click','.mark-post',function(event){
    event.preventDefault();
    element=$(this);
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    $.ajax({
      type: 'POST',
      url: '/blog/posts/'+{{post.id}}+'/mark',
      data:{
        user_id:{{user.id}},
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.addClass('unmark-post')
        element.css('color','#ffd133');
        element.removeClass('mark-post')
      },
      error: function(error)
      {
        console.log(error);
      }
    });
  });

  $(document).on('click','.unmark-post',function(event){
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    element=$(this);
    $.ajax({
      type: 'POST',
      url: '/blog/posts/'+{{post.id}}+'/unmark',
      data:{
        user_id:{{user.id}},
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.addClass('mark-post')
        element.css('color','#808080')
        element.removeClass('unmark-post')
      },
      error: function(error)
      {
        console.log('error');
      }
    });
  });

</script>