{%extends 'myblog/layout.html'%}
{%block title%}
Single Article | {{post.title}}
{%endblock%}
{%block content%}
<style>
  .like-active{
    color: #337ab7;
  }

</style>
<!--=========== START BLOG SECTION ================-->
    <section id="blogArchive">
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Start Blog Archive Area -->
                <div class="blogArchive-area">
                  <div class="row">
                    <!-- Start Blog Content -->
                    <div class="col-md-9 col-sm-8">
                      <div class="blog-content">
                        <!-- Start Single Blog -->
                        <div class="single-Blog">
                          <div class="single-blog-left">
                            <ul class="blog-comments-box">
                              <li>{{post.pub_date|date:'N'}}<h2>{{post.pub_date|date:'j'}}</h2>{{post.pub_date|date:'Y'}}</li>
                              <li><span class="fa fa-eye"></span>{{post.num_views}}</li>
                              <li><a href="#"><span class="fa fa-comments"></span>{{post.comment_set.all.count}}</a></li>
                              {%if user.is_authenticated%}
                                {%if user in post.marked.all%}
                                  <li><span class="glyphicon glyphicon-bookmark unmark-post"></span></li>
                                {%else%}
                                  <li><span class="glyphicon glyphicon-bookmark mark-post" style="color:gray"></span></li>
                                {%endif%}
                              {%endif%}
                            </ul>
                          </div>
                          <div class="single-blog-right">
                            <div class="blog-img">
                              <figure class="blog-figure">
                               <a href="#"><img alt="img" src="/blog{{post.image.url}}"></a>
                                <span class="image-effect"></span>
                              </figure>
                            </div>
                            <div class="blog-author">
                              <ul>
                                <li>By <a href="#">{{post.user.username}}</a></li>
                                <!--<li><span class="fa fa-tags"></span><a href="#">Dental</a> <a href="#">Surgery</a> <a href="#">Cardiac</a></li>-->
                                <li><span class="fa fa-tags"></span>
                                  {%for tag in post.tag_set.all%}
                                    <a href="{%url 'similar_posts' tag.id%}">{{tag.name}} .</a>
                                  {%endfor%}
                                </li>
                              </ul>
                            </div>
                            <div class="blog-content blog-details">
                              <h2>{{post.title}}</h2>
                              <p>{{post.content|linebreaks}}</p>
                              <!-- Start Similar News -->
                              <br><br><br>
                              <div class="similar-post">
                                <h2>Similar News  </h2>
                                 <div class="row">
                                   {%for post in similars%}
                                    <div class="col-md-6 col-sm-6">
                                      <div class="media">
                                          <div class="media-left">
                                            <a class="news-img" href="#">
                                              <img class="media-object" src="/blog{{post.image.url}}" alt="img">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                           <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                           <span class="feed-date">{{post.pub_date|date:'d.m.Y'}}</span>
                                          </div>
                                      </div>
                                    </div>
                                   {%endfor%}
                                  </div>
                                </div>
                              </div>
                            <br>
                              <!-- Start Comments  -->
                              <div class="comments-area">
                                <h3 class="comments-title">Comments</h3>
                                {%if user.is_authenticated%}
                                <form class="comment-form">
                                  {%csrf_token%}
                                  {{ comment_form}}
                                  <input type="hidden" name="parent" value="c">
                                  <input type="submit" value="Comment" class="reply-btn" />
                                </form>
                                {%endif%}
                                <div class="comments">
                                  <ul class="commentlist">
                                    {%for comment in comments%}
                                      {%if not comment.parent.id%}
                                      <li>
                                        <div class="media">
                                          {%if comment.user.id == user.id%}
                                          <span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete comment" aria-hidden="true" style="color:red;" id="{{comment.id}}"></span>
                                          {%endif%}
                                          <div class="media-left">
                                              <img alt="img" src="images/doctor-2.jpg" class="media-object news-img">
                                          </div>

                                          <div class="media-body">
                                           <h4 class="author-name">{{comment.user.username}}</h4>

                                           <span class="comments-date"> {{comment.modification_date|timesince}} ago</span>
                                           <p>{{comment.content}}</p>
                                            {% if user in comment.likes.all%}
                                              {%if user.is_authenticated%}
                                              <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 unlike like-active" aria-hidden="true" id="{{comment.id}}">{{comment.likes.count}}</span>
                                              {%else%}
                                              <div class="col-lg-offset-10">{{comment.likes.count}} Like{{ comment.likes.count|pluralize }}</div>
                                              {%endif%}
                                            {%else%}
                                            {%if user.is_authenticated%}
                                            <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="{{comment.id}}">{{comment.likes.count}}</span>
                                            {%else%}
                                              <div class="col-lg-offset-10">{{comment.likes.count}} Like{{ comment.likes.count|pluralize }}</div>
                                              {%endif%}
                                            {%endif%}
                                          </div>
                                        </div>
                                      </li>
                                      <ul class="children">
                                      {%for reply in comments%}
                                        {%if reply.parent.id == comment.id%}
                                        <div class="replies-container">
                                          <li>
                                            <div class="media">
                                              {%if user.id == reply.user.id%}
                                              <span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete reply" aria-hidden="true" style="color:red;" id="{{reply.id}}"></span>
                                              {%endif%}
                                              <div class="media-left">
                                                  <img alt="img" src="images/doctor-2.jpg" class="media-object news-img">
                                              </div>
                                              <div class="media-body">
                                               <h4 class="author-name">{{reply.user.username}}</h4>
                                               <span class="comments-date">{{reply.modification_date|timesince}} ago</span>
                                               <p>{{reply.content}}</p>
                                                {% if user in reply.likes.all%}
                                                {%if user.is_authenticated%}
                                                  <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 unlike like-active" aria-hidden="true" id="{{reply.id}}">{{reply.likes.count}}</span>
                                                {%else%}
                                              <div class="col-lg-offset-10">{{reply.likes.count}} Like{{ reply.likes.count|pluralize }}</div>
                                              {%endif%}
                                                {%else%}
                                                {%if user.is_authenticated%}
                                                <span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="{{reply.id}}">{{reply.likes.count}}</span>
                                                {%else%}
                                              <div class="col-lg-offset-10">{{reply.likes.count}} Like{{ reply.likes.count|pluralize }}</div>
                                              {%endif%}
                                                {%endif%}

                                              </div>
                                            </div>
                                          </li>
                                        </div>
                                        {%endif%}
                                      {%endfor%}
                                        {%if user.is_authenticated%}
                                          <li>
                                        <form class="comment-form">
                                          {%csrf_token%}
                                          {{comment_form}}
                                          <input id="parent" type="hidden" name="parent" value="{{comment.id}}">
                                          <input type="submit" value="Reply" class="reply-btn"/>
                                        </form>
                                      </li>
                                        {%endif%}
                                        </ul>

                                      {%endif%}
                                    {%endfor%}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- Start Right Side bar -->
                    <div class="col-md-3 col-sm-4">
                      <aside class="sidebar">
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Latest Posts</h3>
                          <ul class="popular-tab">
                            {%for post in latest_posts%}
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="{%url 'single_post' post.id%}" class="news-img">
                                    <img alt="img" src="/blog{{post.image.url}}" class="media-object">
                                  </a>
                                </div>
                                <div class="media-body">
                                 <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                 <span class="feed-date">{{post.pub_date|date:'d.m.Y'}}</span>
                                </div>
                              </div>
                            </li>
                            {%endfor%}
                          </ul>
                        </div>
                        <!-- Start sidebar widget -->
                        <div class="sidebar-widget">
                          <h3>Most Viewed</h3>
                          <ul class="popular-tab">
                            {%for post in most_viewed_posts%}
                            <li>
                              <div class="media">
                                <div class="media-left">
                                  <a href="{%url 'single_post' post.id%}" class="news-img">
                                    <img alt="img" src="/blog{{post.image.url}}" class="media-object">
                                  </a>
                                </div>
                                <div class="media-body">
                                 <a href="{%url 'single_post' post.id%}">{{post.title}}</a>
                                 <span class="feed-date">{{post.pub_date|date:'m.d.Y'}}</span>
                                </div>
                              </div>
                            </li>
                            {%endfor%}
                          </ul>
                        </div>
                      </aside>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->
<br><br>
{%csrf_token%}
{%endblock%}
{%block scripts%}
<script type="text/javascript">
  $(document).on('submit','.comment-form',function(event){
    event.preventDefault();
    form=$(this);
    content=$(this).children('#id_content').val();
    post=$(this).children('#id_post').val();
    parent=$(this).children('input[name=parent]').val();
    csrfmiddlewaretoken= $(this).children('input[name=csrfmiddlewaretoken]').val()
    user= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/add",
      data:{
      content: content,
      post: post,
      parent: parent,
      user: user ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        console.log($.parseJSON(data));
        obj=$.parseJSON(data);
        console.log($.parseJSON(data)['csrf']);
        comment=$.parseJSON(data)[0].fields;

        str = '<li><div class="media">'
        if(parent == 'c')
          str += '<span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete comment" id="'+$.parseJSON(data)[0].pk+'" aria-hidden="true" style="color:red;"></span>'
        else
          str += '<span class="glyphicon glyphicon-remove col-lg-offset-11 comment-delete reply" id="'+$.parseJSON(data)[0].pk+'" aria-hidden="true" style="color:red;"></span>'
        str+='<div class="media-left">'
        str += '<img alt="img" src="images/doctor-2.jpg" class="media-object news-img"></div><div class="media-body"><h4 class="author-name">'
        str += '{{user.username}}'
        str += '</h4><span class="comments-date">'
         str += '{%now "N m, Y, i:s a"%}'
        str += '</span><p>'
        str += comment.content
        str += '</p><span class="glyphicon glyphicon-thumbs-up col-lg-offset-10 like" aria-hidden="true" id="'+$.parseJSON(data)[0].pk+'">0</span></div></div></li>'
        if(parent != 'c')
          {$(str).insertBefore(form);}
        else
        {
          str += '<ul class="children"><div class="replies-container"></div>';
          str += '<li><form class="comment-form">'

          str += '<textarea class="col-lg-12" cols="40" id="id_content" maxlength="200" name="content" placeholder="write comment ..." rows="5"></textarea>'
          str += '<input type="hidden" name="csrfmiddlewaretoken" value="'+csrfmiddlewaretoken+'">'
          str += '<input id="id_post" name="post" type="hidden" value="'+comment.post+'">'
          str += '<input id="parent" type="hidden" name="parent" value="';
          str += $.parseJSON(data)[0].pk
          str += '"><input type="submit" value="Reply" class="reply-btn"/></form></li></ul>';

          $('.commentlist').append(str);
        }
        form.children('#id_content').val('')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });

  $(document).on('click','.comment-delete',function(event){
    event.preventDefault();
    element=$(this);
    id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/delete",
      data:{
      id: id,
      user: user ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        comment=element.parent().parent()
        if(element.hasClass('comment'))
          comment.next().remove()

        comment.remove()
      },
      error: function()
      {
        console.log('error');
      }
    });
  });

   $(document).on('click','.like',function(event){
    event.preventDefault();
    element=$(this);
    comment_id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user_id= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/like",
      data:{
      comment_id: comment_id,
      user_id: user_id ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.removeClass('like')
        element.addClass('unlike')
        element.text(parseInt('  '+ element.text())+1)
        element.addClass('like-active')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });
  $(document).on('click','.unlike',function(event){
    event.preventDefault();
    element=$(this);
    comment_id=$(this).attr('id');
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    user_id= {{user.id}} ;
    $.ajax({
      type: 'POST',
      url: "/blog/comment/unlike",
      data:{
      comment_id: comment_id,
      user_id: user_id ,
      csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.removeClass('unlike')
        element.addClass('like')
        element.text(parseInt('  '+element.text())-1)
        element.removeClass('like-active')
      },
      error: function()
      {
        console.log('error');
      }
    });
  });
  $(document).on('click','.mark-post',function(event){
    event.preventDefault();
    element=$(this);
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    $.ajax({
      type: 'POST',
      url: '/blog/posts/'+{{post.id}}+'/mark',
      data:{
        user_id:{{user.id}},
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.addClass('unmark-post')
        element.css('color','#ffd133');
        element.removeClass('mark-post')
      },
      error: function(error)
      {
        console.log(error);
      }
    });
  });

  $(document).on('click','.unmark-post',function(event){
    csrfmiddlewaretoken= $('input[name=csrfmiddlewaretoken]').val()
    element=$(this);
    $.ajax({
      type: 'POST',
      url: '/blog/posts/'+{{post.id}}+'/unmark',
      data:{
        user_id:{{user.id}},
        csrfmiddlewaretoken: csrfmiddlewaretoken
      },
      success: function(data){
        element.addClass('mark-post')
        element.css('color','#808080')
        element.removeClass('unmark-post')
      },
      error: function(error)
      {
        console.log('error');
      }
    });
  });

</script>
{%endblock%}
